USE [RevPro]
GO
/****** Object:  Table [dbo].[__RefactorLog]    Script Date: 1/29/2018 3:17:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__RefactorLog](
	[OperationKey] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO
