USE [RevPro]
GO
/****** Object:  Table [dbo].[CSTR_RPRO_ERR_CODE_MASTER]    Script Date: 1/29/2018 3:17:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CSTR_RPRO_ERR_CODE_MASTER](
	[ERROR_SEQ_NO] [int] NOT NULL,
	[ERROR_CATEGORY] [varchar](50) NULL,
	[ERROR_CODE] [varchar](50) NULL,
	[ERROR_MESSAGE] [varchar](250) NULL,
	[NEXT_ACTION] [varchar](250) NULL,
	[ENABLE_FLAG] [varchar](10) NULL,
	[ATTRIBUTE1] [varchar](250) NULL,
	[ATTRIBUTE2] [varchar](250) NULL,
	[ATTRIBUTE3] [varchar](250) NULL,
	[ATTRIBUTE4] [varchar](250) NULL,
	[ATTRIBUTE5] [varchar](250) NULL,
	[CREATION_DATE] [date] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[LAST_UPDATE_BY] [varchar](50) NULL,
	[LAST_UPDATE_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ERROR_SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
