USE [RevPro]
GO
/****** Object:  Table [dbo].[SalesOrder_Input_List]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrder_Input_List](
	[SalesOrderID] [int] NULL,
	[BatchID] [int] NULL
) ON [PRIMARY]

GO
