USE [RevPro]
GO
/****** Object:  Table [dbo].[rpro_transactions_pre_stg_hist]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rpro_transactions_pre_stg_hist](
	[STAGE_ID] [int] NOT NULL,
	[CLIENT_ID] [varchar](20) NULL,
	[DEAL_ID] [varchar](40) NULL,
	[CARVE_IN_DEF_REVENUE_SEG1] [varchar](200) NULL,
	[CARVE_IN_DEF_REVENUE_SEG2] [varchar](200) NULL,
	[CARVE_IN_DEF_REVENUE_SEG3] [varchar](200) NULL,
	[CARVE_IN_DEF_REVENUE_SEG4] [varchar](200) NULL,
	[UNBILLED_AR_SEG1] [varchar](200) NULL,
	[UNBILLED_AR_SEG2] [varchar](200) NULL,
	[UNBILLED_AR_SEG3] [varchar](200) NULL,
	[UNBILLED_AR_SEG4] [varchar](200) NULL,
	[CARVE_IN_REVENUE_SEG1] [varchar](200) NULL,
	[CARVE_IN_REVENUE_SEG2] [varchar](200) NULL,
	[CARVE_IN_REVENUE_SEG3] [varchar](200) NULL,
	[CARVE_IN_REVENUE_SEG4] [varchar](200) NULL,
	[CARVE_OUT_REVENUE_SEG1] [varchar](200) NULL,
	[CARVE_OUT_REVENUE_SEG2] [varchar](200) NULL,
	[CARVE_OUT_REVENUE_SEG3] [varchar](200) NULL,
	[CARVE_OUT_REVENUE_SEG4] [varchar](200) NULL,
	[ATTRIBUTE24] [varchar](200) NULL,
	[ATTRIBUTE25] [varchar](200) NULL,
	[ATTRIBUTE26] [varchar](200) NULL,
	[ATTRIBUTE27] [varchar](200) NULL,
	[BASE_CURR_CODE] [varchar](10) NULL,
	[BILL_TO_COUNTRY] [varchar](60) NULL,
	[BILL_TO_CUSTOMER_NAME] [varchar](360) NULL,
	[BILL_TO_CUSTOMER_NUMBER] [varchar](20) NULL,
	[BUSINESS_UNIT] [varchar](100) NULL,
	[CUSTOMER_ID] [varchar](100) NULL,
	[CUSTOMER_NAME] [varchar](240) NULL,
	[DEF_ACCTG_SEG1] [varchar](240) NULL,
	[DEF_ACCTG_SEG2] [varchar](240) NULL,
	[DEF_ACCTG_SEG3] [varchar](240) NULL,
	[DEF_ACCTG_SEG4] [varchar](240) NULL,
	[DEFERRED_REVENUE_FLAG] [varchar](10) NULL,
	[DISCOUNT_AMOUNT] [int] NULL,
	[DISCOUNT_PERCENT] [int] NULL,
	[ELIGIBLE_FOR_CV] [varchar](10) NULL,
	[ELIGIBLE_FOR_FV] [varchar](10) NULL,
	[EX_RATE] [int] NULL,
	[EXT_LIST_PRICE] [int] NULL,
	[EXT_SELL_PRICE] [int] NULL,
	[FLAG_97_2] [varchar](10) NULL,
	[INVOICE_DATE] [date] NULL,
	[INVOICE_ID] [varchar](100) NULL,
	[INVOICE_LINE] [varchar](50) NULL,
	[INVOICE_LINE_ID] [varchar](100) NULL,
	[INVOICE_NUMBER] [varchar](30) NULL,
	[INVOICE_TYPE] [varchar](240) NULL,
	[ITEM_DESC] [varchar](240) NULL,
	[ITEM_ID] [varchar](100) NULL,
	[ITEM_NUMBER] [varchar](200) NULL,
	[LT_DEFERRED_ACCOUNT] [varchar](240) NULL,
	[NON_CONTINGENT_FLAG] [varchar](10) NULL,
	[ORDER_LINE_TYPE] [varchar](240) NULL,
	[ORDER_TYPE] [varchar](50) NULL,
	[ORG_ID] [int] NULL,
	[ORIG_INV_LINE_ID] [varchar](100) NULL,
	[PCS_FLAG] [varchar](10) NULL,
	[PO_NUM] [varchar](100) NULL,
	[PRODUCT_CATEGORY] [varchar](200) NULL,
	[PRODUCT_CLASS] [varchar](200) NULL,
	[PRODUCT_FAMILY] [varchar](200) NULL,
	[PRODUCT_LINE] [varchar](200) NULL,
	[QUANTITY_INVOICED] [int] NULL,
	[QUANTITY_ORDERED] [int] NULL,
	[QUANTITY_SHIPPED] [int] NULL,
	[QUOTE_NUM] [varchar](20) NULL,
	[RCURR_EX_RATE] [int] NULL,
	[RETURN_FLAG] [varchar](10) NULL,
	[REV_ACCTG_SEG1] [varchar](200) NULL,
	[REV_ACCTG_SEG2] [varchar](200) NULL,
	[REV_ACCTG_SEG3] [varchar](200) NULL,
	[REV_ACCTG_SEG4] [varchar](200) NULL,
	[RULE_END_DATE] [date] NULL,
	[RULE_START_DATE] [date] NULL,
	[SALES_ORDER] [varchar](30) NULL,
	[SALES_ORDER_ID] [varchar](100) NULL,
	[SALES_ORDER_LINE] [varchar](50) NULL,
	[SALES_ORDER_LINE_ID] [varchar](100) NULL,
	[SALES_REP_ID] [varchar](240) NULL,
	[SALESREP_NAME] [varchar](100) NULL,
	[SCHEDULE_SHIP_Date] [date] NULL,
	[SEC_ATTR_VALUE] [varchar](30) NULL,
	[SHIP_DATE] [date] NULL,
	[SO_BOOK_DATE] [date] NULL,
	[SOB_ID] [int] NULL,
	[STANDALONE_FLAG] [varchar](10) NULL,
	[STATED_FLAG] [varchar](10) NULL,
	[TRAN_TYPE] [varchar](20) NULL,
	[TRANS_CURR_CODE] [varchar](10) NULL,
	[TRANS_DATE] [date] NULL,
	[UNBILLED_ACCOUNTING_FLAG] [varchar](10) NULL,
	[UNDELIVERED_FLAG] [varchar](10) NULL,
	[UNIT_LIST_PRICE] [int] NULL,
	[UNIT_SELL_PRICE] [int] NULL,
	[FV_YEAR] [int] NULL,
	[STUB_AMOUNT] [int] NULL,
	[CONVERSION_DATA] [varchar](250) NULL,
	[CANCELLED_FLAG] [varchar](20) NULL,
	[CARVE_IN_DEF_REVENUE_SEG5] [varchar](250) NULL,
	[UNBILLED_AR_SEG5] [varchar](250) NULL,
	[CARVE_IN__REVENUE_SEG5] [varchar](250) NULL,
	[CARVE_OUT_REVENUE_SEG5] [varchar](250) NULL,
	[DEF_ACCTG_SEG5] [varchar](250) NULL,
	[REV_ACCTG_SEG5] [varchar](250) NULL,
	[LT_DEFERRED_ACCOUNT_SEG5] [varchar](250) NULL,
	[ATTRIBUTE28] [varchar](250) NULL,
	[NUMBER5] [int] NULL,
	[INSERTED_DATE] [date] NULL,
	[INSERTED_BY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[STAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
