USE [RevPro]
GO
/****** Object:  Table [dbo].[SkuUnknown]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkuUnknown](
	[SKUID] [int] NULL
) ON [PRIMARY]

GO
