USE [RevPro]
GO
/****** Object:  Table [dbo].[ProblemSalesOrders]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProblemSalesOrders](
	[CLIENT_ID] [varchar](100) NULL,
	[Deal_ID_CurrentTermStartDate] [datetime] NULL,
	[Deal_ID_CreatedDate] [datetime] NULL,
	[Deal_ID_LocationID] [int] NOT NULL,
	[CARVE_IN_DEF_REVENUE_SEG1] [varchar](100) NULL,
	[CARVE_IN_DEF_REVENUE_SEG2] [varchar](20) NULL,
	[CARVE_IN_DEF_REVENUE_SEG3] [varchar](100) NULL,
	[CARVE_IN_DEF_REVENUE_SEG4] [varchar](100) NULL,
	[UNBILLED_AR_SEG1] [varchar](100) NULL,
	[UNBILLED_AR_SEG2] [varchar](20) NULL,
	[UNBILLED_AR_SEG3] [varchar](100) NULL,
	[UNBILLED_AR_SEG4] [varchar](100) NULL,
	[CARVE_IN_REVENUE_SEG1] [varchar](100) NULL,
	[CARVE_IN_REVENUE_SEG2] [varchar](20) NULL,
	[CARVE_IN_REVENUE_SEG3] [varchar](100) NULL,
	[CARVE_IN_REVENUE_SEG4] [varchar](100) NULL,
	[CARVE_OUT_REVENUE_SEG1] [varchar](100) NULL,
	[CARVE_OUT_REVENUE_SEG2] [varchar](20) NULL,
	[CARVE_OUT_REVENUE_SEG3] [varchar](100) NULL,
	[CARVE_OUT_REVENUE_SEG4] [varchar](100) NULL,
	[ATTRIBUTE24] [bit] NOT NULL,
	[ATTRIBUTE25] [varchar](20) NULL,
	[ATTRIBUTE26] [varchar](3) NOT NULL,
	[ATTRIBUTE27] [varchar](100) NULL,
	[BASE_CURR_CODE] [char](3) NULL,
	[BILL_TO_COUNTRY] [char](3) NULL,
	[BILL_TO_CUSTOMER_NAME] [varchar](50) NULL,
	[BILL_TO_CUSTOMER_NUMBER] [int] NOT NULL,
	[BUSINESS_UNIT] [varchar](10) NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[CUSTOMER_NAME] [varchar](50) NULL,
	[DEF_ACCTG_SEG1] [varchar](100) NULL,
	[DEF_ACCTG_SEG2] [varchar](20) NULL,
	[DEF_ACCTG_SEG3] [varchar](100) NULL,
	[DEF_ACCTG_SEG4] [varchar](100) NULL,
	[DEFERRED_REVENUE_FLAG] [varchar](1) NOT NULL,
	[DISCOUNT_AMOUNT] [varchar](1) NOT NULL,
	[DISCOUNT_PERCENT] [varchar](1) NOT NULL,
	[ELIGIBLE_FOR_CV_CreateDated] [smalldatetime] NOT NULL,
	[ELIGIBLE_FOR_FV_CreateDated] [smalldatetime] NOT NULL,
	[EX_RATE] [numeric](2, 1) NULL,
	[EXT_LIST_PRICE] [int] NOT NULL,
	[EXT_SELL_PRICE] [int] NOT NULL,
	[FLAG_97_2] [varchar](1) NOT NULL,
	[INVOICE_DATE] [varchar](1) NOT NULL,
	[INVOICE_ID] [varchar](1) NOT NULL,
	[INVOICE_LINE] [varchar](1) NOT NULL,
	[INVOICE_LINE_ID] [varchar](1) NOT NULL,
	[INVOICE_NUMBER] [varchar](1) NOT NULL,
	[INVOICE_TYPE] [varchar](1) NOT NULL,
	[ITEM_DESC] [varchar](25) NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[ITEM_NUMBER] [int] NULL,
	[LT_DEFERRED_ACCOUNT] [varchar](4) NOT NULL,
	[NON_CONTINGENT_FLAG] [varchar](1) NOT NULL,
	[ORDER_LINE_TYPE] [varchar](1) NOT NULL,
	[ORDER_TYPE] [varchar](1) NOT NULL,
	[ORG_ID] [tinyint] NULL,
	[ORIG_INV_LINE_ID] [varchar](1) NOT NULL,
	[PCS_FLAG] [varchar](1) NOT NULL,
	[PO_NUM] [varchar](1) NOT NULL,
	[PRODUCT_CATEGORY] [int] NOT NULL,
	[PRODUCT_CLASS] [int] NULL,
	[PRODUCT_FAMILY] [varchar](100) NULL,
	[PRODUCT_LINE] [varchar](25) NOT NULL,
	[QUANTITY_INVOICED] [varchar](1) NOT NULL,
	[QUANTITY_ORDERED_SHIPPED_BillingStartDate] [smalldatetime] NULL,
	[QUANTITY_ORDERED_SHIPPED_RenewalDate] [smalldatetime] NULL,
	[QUOTE_NUM] [varchar](1) NOT NULL,
	[RCURR_EX_RATE] [numeric](2, 1) NULL,
	[RETURN_FLAG] [varchar](1) NOT NULL,
	[REV_ACCTG_SEG1] [varchar](100) NULL,
	[REV_ACCTG_SEG2] [varchar](20) NULL,
	[REV_ACCTG_SEG3] [varchar](100) NULL,
	[REV_ACCTG_SEG4] [varchar](100) NULL,
	[RULE_END_DATE] [date] NULL,
	[RULE_START_DATE] [date] NULL,
	[SALES_ORDER] [int] NOT NULL,
	[SALES_ORDER_ID] [int] NOT NULL,
	[SALES_ORDER_LINE] [int] NOT NULL,
	[SALES_ORDER_LINE_ID] [varchar](32) NULL,
	[SALES_REP_ID] [int] NULL,
	[SALESREP_NAME] [varchar](42) NULL,
	[SCHEDULE_SHIP_DATE] [datetime] NULL,
	[SEC_ATTR_VALUE] [varchar](3) NOT NULL,
	[SHIP_DATE] [datetime] NULL,
	[SO_BOOK_DATE] [datetime] NULL,
	[SOB_ID] [varchar](3) NOT NULL,
	[STANDALONE_FLAG] [varchar](1) NOT NULL,
	[STATED_FLAG] [varchar](1) NOT NULL,
	[TRAN_TYPE] [varchar](2) NOT NULL,
	[TRANS_CURR_CODE] [char](3) NULL,
	[TRANS_DATE] [datetime] NULL,
	[UNBILLED_ACCOUNTING_FLAG] [varchar](1) NOT NULL,
	[UNDELIVERED_FLAG] [varchar](1) NOT NULL,
	[UNIT_LIST_PRICE] [numeric](18, 0) NULL,
	[UNIT_SELL_PRICE] [numeric](18, 0) NOT NULL,
	[FV_YEAR] [int] NULL,
	[STUB_AMOUNT] [varchar](1) NOT NULL,
	[CONVERSION_DATA_CreatedDate] [smalldatetime] NOT NULL,
	[CANCELLED_FLAG_LineItemStatusID] [tinyint] NOT NULL,
	[CARVE_IN_DEF_REVENUE_SEG5] [varchar](1) NOT NULL,
	[UNBILLED_AR_SEG5] [varchar](1) NOT NULL,
	[CARVE_IN_REVENUE_SEG5] [varchar](1) NOT NULL,
	[CARVE_OUT_REVENUE_SEG5] [varchar](1) NOT NULL,
	[DEF_ACCTG_SEG5] [varchar](1) NOT NULL,
	[REV_ACCTG_SEG5] [varchar](1) NOT NULL,
	[LT_DEFERRED_ACCOUNT_SEG5] [varchar](1) NOT NULL,
	[ATTRIBUTE28] [varchar](1) NOT NULL,
	[NUMBER5] [varchar](1) NOT NULL,
	[BundleID] [int] NULL,
	[DW_Fl] [varchar](1) NOT NULL,
	[RPro_Fl] [varchar](1) NOT NULL,
	[Created_By] [varchar](6) NOT NULL,
	[Create_Dt] [datetime] NOT NULL,
	[Last_Updated_By] [varchar](6) NOT NULL,
	[Last_Update_Dt] [datetime] NOT NULL,
	[Contract_Duration_MTHS] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
