USE [RevPro]
GO
/****** Object:  Table [opt].[DataMapping]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [opt].[DataMapping](
	[CLIENT_ID] [int] NOT NULL,
	[DEAL_ID] [varchar](50) NULL,
	[ATTRIBUTE2] [varchar](250) NULL,
	[ATTRIBUTE3] [varchar](250) NULL,
	[ATTRIBUTE4] [varchar](250) NULL,
	[ATTRIBUTE5] [varchar](250) NULL,
	[ATTRIBUTE6] [varchar](250) NULL,
	[ATTRIBUTE7] [varchar](250) NULL,
	[ATTRIBUTE8] [varchar](250) NULL,
	[ATTRIBUTE9] [varchar](250) NULL,
	[ATTRIBUTE10] [varchar](250) NULL,
	[ATTRIBUTE11] [varchar](250) NULL,
	[ATTRIBUTE12] [varchar](250) NULL,
	[ATTRIBUTE13] [varchar](250) NULL,
	[ATTRIBUTE14] [varchar](250) NULL,
	[ATTRIBUTE15] [varchar](250) NULL,
	[ATTRIBUTE16] [varchar](250) NULL,
	[ATTRIBUTE17] [varchar](250) NULL,
	[ATTRIBUTE24] [varchar](250) NULL,
	[ATTRIBUTE25] [varchar](250) NULL,
	[ATTRIBUTE26] [varchar](250) NULL,
	[ATTRIBUTE27] [varchar](250) NULL,
	[BASE_CURR_CODE] [varchar](10) NULL,
	[BILL_TO_COUNTRY] [varchar](60) NULL,
	[BILL_TO_CUSTOMER_NAME] [varchar](360) NULL,
	[BILL_TO_CUSTOMER_NUMBER] [varchar](20) NULL,
	[BUSINESS_UNIT] [varchar](100) NULL,
	[CUSTOMER_ID] [varchar](100) NULL,
	[CUSTOMER_NAME] [varchar](240) NULL,
	[DEF_ACCTG_SEG1] [varchar](240) NULL,
	[DEF_ACCTG_SEG2] [varchar](240) NULL,
	[DEF_ACCTG_SEG3] [varchar](240) NULL,
	[DEF_ACCTG_SEG4] [varchar](240) NULL,
	[DEFERRED_REVENUE_FLAG] [char](1) NULL,
	[NUMBER1] [int] NULL,
	[NUMBER2] [int] NULL,
	[ELIGIBLE_FOR_CV] [char](1) NULL,
	[ELIGIBLE_FOR_FV] [char](1) NULL,
	[EX_RATE] [float] NULL,
	[EXT_LIST_PRICE] [money] NULL,
	[EXT_SELL_PRICE] [money] NULL,
	[FLAG_97_2] [char](1) NULL,
	[INVOICE_DATE] [datetime2](7) NULL,
	[INVOICE_ID] [varchar](100) NULL,
	[INVOICE_LINE] [varchar](50) NULL,
	[INVOICE_LINE_ID] [varchar](100) NULL,
	[INVOICE_NUMBER] [varchar](30) NULL,
	[INVOICE_TYPE] [varchar](240) NULL,
	[ITEM_DESC] [varchar](240) NULL,
	[ITEM_ID] [varchar](100) NULL,
	[ITEM_NUMBER] [varchar](200) NULL,
	[LT_DEFERRED_ACCOUNT] [varchar](240) NULL,
	[NON_CONTINGENT_FLAG] [char](1) NULL,
	[ORDER_LINE_TYPE] [varchar](240) NULL,
	[ORDER_TYPE] [varchar](50) NULL,
	[ORG_ID] [int] NULL,
	[ORIG_INV_LINE_ID] [varchar](100) NULL,
	[PCS_FLAG] [char](1) NULL,
	[PO_NUM] [varchar](100) NULL,
	[PRODUCT_CATEGORY] [varchar](200) NULL,
	[PRODUCT_CLASS] [varchar](200) NULL,
	[PRODUCT_FAMILY] [varchar](200) NULL,
	[PRODUCT_LINE] [varchar](200) NULL,
	[QUANTITY_INVOICED] [int] NULL,
	[QUANTITY_ORDERED] [int] NULL,
	[QUANTITY_SHIPPED] [int] NULL,
	[QUOTE_NUM] [varchar](40) NULL,
	[RCURR_EX_RATE] [float] NULL,
	[RETURN_FLAG] [char](1) NULL,
	[REV_ACCTG_SEG1] [varchar](240) NULL,
	[REV_ACCTG_SEG2] [varchar](240) NULL,
	[REV_ACCTG_SEG3] [varchar](240) NULL,
	[REV_ACCTG_SEG4] [varchar](240) NULL,
	[RULE_END_DATE] [datetime2](7) NULL,
	[RULE_START_DATE] [datetime2](7) NULL,
	[SALES_ORDER] [varchar](30) NULL,
	[SALES_ORDER_ID] [varchar](100) NULL,
	[SALES_ORDER_LINE] [varchar](50) NULL,
	[SALES_ORDER_LINE_ID] [varchar](100) NULL,
	[SALES_REP_ID] [varchar](240) NULL,
	[SALESREP_NAME] [varchar](100) NULL,
	[SCHEDULE_SHIP_Date] [datetime2](7) NULL,
	[SEC_ATTR_VALUE] [varchar](200) NULL,
	[SHIP_DATE] [datetime2](7) NULL,
	[SO_BOOK_DATE] [datetime2](7) NULL,
	[SOB_ID] [int] NULL,
	[STANDALONE_FLAG] [char](1) NULL,
	[STATED_FLAG] [char](1) NULL,
	[TRAN_TYPE] [varchar](20) NULL,
	[TRANS_CURR_CODE] [varchar](10) NULL,
	[TRANS_DATE] [datetime2](7) NULL,
	[UNBILLED_ACCOUNTING_FLAG] [char](1) NULL,
	[UNDELIVERED_FLAG] [char](1) NULL,
	[UNIT_LIST_PRICE] [money] NULL,
	[UNIT_SELL_PRICE] [money] NULL,
	[NUMBER3] [int] NULL,
	[NUMBER4] [int] NULL,
	[ATTRIBUTE1] [varchar](20) NULL,
	[CANCELLED_FLAG] [char](1) NULL,
	[ATTRIBUTE20] [varchar](250) NULL,
	[ATTRIBUTE21] [varchar](250) NULL,
	[ATTRIBUTE19] [varchar](250) NULL,
	[ATTRIBUTE18] [varchar](250) NULL,
	[DEF_ACCTG_SEG5] [varchar](250) NULL,
	[REV_ACCTG_SEG5] [varchar](250) NULL,
	[ATTRIBUTE22] [varchar](250) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
