USE [RevPro]
GO
/****** Object:  UserDefinedTableType [stg].[SalesUnitDesc]    Script Date: 1/29/2018 3:17:38 PM ******/
CREATE TYPE [stg].[SalesUnitDesc] AS TABLE(
	[SalesUnitDesc] [varchar](100) NULL
)
GO
