USE [RevPro]
GO
/****** Object:  StoredProcedure [stg].[spAddCarryForwardSalesOrdersToMEA]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [stg].[spAddCarryForwardSalesOrdersToMEA]
	 (@pDebug bit, @pRevenueRunID int, @pVerbose bit )
AS
	if @pVerbose = 1 RAISERROR (N'Adding Carry-forward Entries!',10,1) With nowait;

	-- when a new MEA is created, it needs all active items from the prior one

INSERT INTO [stg].[RevenueItemRaw]
           ([MEA]
           ,[RevenueItemType]
           ,[LineItemID]
           ,[AdjustedEventDate]
           ,[CurrentSKU]
           ,[SequenceNumber]
           ,[ActionType]
           ,[SOB_ID]
           ,[MonthSequence]
           ,[CurrentContractTerm]
           ,[DaysInStubMonth]
           ,[StubDays]
           ,[StubDailyRate]
           ,[HasInvalidStubData]
           ,[StubDailyListRate]
           ,[StubPeriodMonthlyDiscountedRate]
           ,[MEAFirstPricingDetailID]
           ,[MEAFirstPricingDetailDiscountedMonthlyPrice]
           ,[EventDate]
           ,[RevenueEventType]
           ,[ProductID]
           ,[DerivedProductID]
           ,[DerivedProductName]
           ,[DerivedSalesUnitID]
           ,[AdjustedEventYear]
           ,[AdjustedEventMonth]
           ,[MEAFirstInvoiceDetailID]
           ,[MEAInvoiceFirstDateOfPeriod]
           ,[MEAInvoiceBillingStartDate]
           ,[MEAInvoiceBillingStartDateDay]
           ,[MEAInvoiceBillingFirstPeriodGross]
           ,[MEAInvoiceBillingFirstPeriodDiscounted]
           ,[MEAInvoiceBillingFirstPeriodStubAmount]
           ,[LineItemTypeID]
           ,[BillingStartDate]
           ,[CurrentTermStartDate]
           ,[BillingMonth]
           ,[LineItemEndDate]
           ,[AptBundleID]
           ,[RenewalDate]
           ,[TermEndDate]
           ,[ContractApprovedDate]
           ,[ProductName]
           ,[NumberOfUsers]
           ,[ContractID]
           ,[SalesUnitID]
           ,[SalesUnitDesc]
           ,[CoStarBrandID]
           ,[BundleID]
           ,[ProductCount]
           ,[CoStarSubsidiaryID]
           ,[SiteLocationID]
           ,[MonetaryUnitID]
           ,[BillingLocationID]
           ,[SiteLocationName]
           ,[LineType]
           ,[AEContactID]
           ,[LineItemStatusID]
           ,[IsCreditCard]
           ,[DiscountedMonthlyPrice]
		   ,[PriorDiscountedMonthlyPrice]
		   ,[DiscountedMonthlyPriceDifference]
           ,[MonthsOfFullDiscount]
           ,[IsInternContract]
           ,[PropertyID]
           ,[LineitemCreadedDate]
           ,[PreviousSKU]
           ,[StateCD]
           ,[PipelineID]
           ,[LineItemPricingDetailTypeID]
           ,[LineItemPricingDetailSubTypeID]
           ,[ListPrice]
           ,[MonthlyPrice]
           ,[QUANTITY_ORDERED]
           ,[STUB_AMOUNT]
           ,[AdjustedBillingStartDate]
           ,[STUB_AMOUNT_LISTPRICE]
           ,[EXT_AMOUNT]
           ,[EXT_AMOUNT_LISTPRICE]
           ,[BillingLocationName]
           ,[CountryCode]
		   , ProductMarketTypeID
		   ,ProductMarketTypeDesc
           ,[AEContactName]
           ,[IsMajor]
           ,[UseContractUserLimit]
           ,[CurrentTermMonths]
           ,[CurrentTermID]
           ,[LocationID]
           ,[LineItemCreatedDate]
           ,[CreatedDate]
           ,[UpdatedDate]
           ,[RevenueRunID]
           ,[IgnoreFlag])
     select 
			m.[MEA]
           ,'SalesOrder' [RevenueItemType]
           ,[LineItemID]
           ,dateadd(dd, 1, m.MEAStartDate) AdjustedEvetnDate
           ,[CurrentSKU]
           ,[SequenceNumber]
           ,'Carry-Forward' [ActionType]
           ,[SOB_ID]
           ,[MonthSequence]
           ,[CurrentContractTerm]
           ,[DaysInStubMonth]
           ,[StubDays]
           ,[StubDailyRate]
           ,[HasInvalidStubData]
           ,[StubDailyListRate]
           ,[StubPeriodMonthlyDiscountedRate]
           ,[MEAFirstPricingDetailID]
           ,[MEAFirstPricingDetailDiscountedMonthlyPrice]
           ,dateadd(dd, 1, m.MEAStartDate) [EventDate]
           ,[RevenueEventType]
           ,[ProductID]
           ,[DerivedProductID]
           ,[DerivedProductName]
           ,[DerivedSalesUnitID]
           ,year( m.[MEAadjustedStartDate]) [AdjustedEventYear]
           ,month ( m.[MEAadjustedStartDate]) [AdjustedEventMonth]
           ,[MEAFirstInvoiceDetailID]
           ,[MEAInvoiceFirstDateOfPeriod]
           ,[MEAInvoiceBillingStartDate]
           ,[MEAInvoiceBillingStartDateDay]
           ,[MEAInvoiceBillingFirstPeriodGross]
           ,[MEAInvoiceBillingFirstPeriodDiscounted]
           ,[MEAInvoiceBillingFirstPeriodStubAmount]
           ,[LineItemTypeID]
           ,[BillingStartDate]
           ,[CurrentTermStartDate]
           ,[BillingMonth]
           ,[LineItemEndDate]
           ,[AptBundleID]
           ,m.MEAAdjustedEndDate [RenewalDate]
           ,[TermEndDate]
           ,[ContractApprovedDate]
           ,[ProductName]
           ,[NumberOfUsers]
           ,[ContractID]
           ,[SalesUnitID]
           ,[SalesUnitDesc]
           ,[CoStarBrandID]
           ,[BundleID]
           ,[ProductCount]
           ,[CoStarSubsidiaryID]
           ,[SiteLocationID]
           ,[MonetaryUnitID]
           ,[BillingLocationID]
           ,[SiteLocationName]
           ,[LineType]
           ,[AEContactID]
           , [LineItemStatusID]
           ,[IsCreditCard]
           ,[DiscountedMonthlyPrice]
		   ,[PriorDiscountedMonthlyPrice]
		   ,[DiscountedMonthlyPriceDifference]
           ,[MonthsOfFullDiscount]
           ,[IsInternContract]
           ,[PropertyID]
           ,[LineitemCreadedDate]
           ,[PreviousSKU]
           ,[StateCD]
           ,[PipelineID]
           ,[LineItemPricingDetailTypeID]
           ,[LineItemPricingDetailSubTypeID]
           ,[ListPrice]
           ,[MonthlyPrice]
           ,m.MEAActualWholeMonthsAtEnd [QUANTITY_ORDERED]
           ,[STUB_AMOUNT]
           ,[AdjustedBillingStartDate]
           ,[STUB_AMOUNT_LISTPRICE]
           ,0 [EXT_AMOUNT]
           ,0 [EXT_AMOUNT_LISTPRICE]
           ,[BillingLocationName]
           ,[CountryCode]
		    , ProductMarketTypeID
		   ,ProductMarketTypeDesc
           ,[AEContactName]
           ,[IsMajor]
           ,[UseContractUserLimit]
           ,m.MEAInitialWholeMonths [CurrentTermMonths]
           ,[CurrentTermID]
           ,[LocationID]
           ,[LineItemCreatedDate]
           ,[CreatedDate]
           ,[UpdatedDate]
           ,@pRevenueRunID
           ,[IgnoreFlag]
	from stg.RevenueItemRaw rir
				inner join opt.mea m  on rir.mea = m.priormea 
				where rir.ignoreflag = 0
					and rir.revenueitemtype = 'SalesORder'
						and not exists( -- is not cancelled
							select null from stg.vwSalesOrderRevenueItemRaw t
								where t.IsLIneItemInActiveAtEndOfMonth  = 1 and t.mea = m.priormea and t.lineitemid= rir.lineitemid )
								and m.RevenueRunID = @pRevenueRunID 
				and not exists (
							select null from stg.vwSalesOrderRevenueItemRaw t
								where t.mea = m.mea and t.lineitemid = rir.lineitemid)


		-- set user count and price to final status of the month?



if @pVerbose = 1 RAISERROR (N'Done Adding Carry-Forward Entries!',10,1) With nowait;
		
	RETURN 0

GO
