USE [RevPro]
GO
/****** Object:  UserDefinedTableType [stg].[SalesUnitCma]    Script Date: 1/29/2018 3:17:38 PM ******/
CREATE TYPE [stg].[SalesUnitCma] AS TABLE(
	[SalesUnitID] [int] NULL
)
GO
