USE [RevPro]
GO
/****** Object:  Table [stg].[RevenueItemGrouped]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[RevenueItemGrouped](
	[MEA] [varchar](100) NOT NULL,
	[RevenueItemType] [varchar](15) NOT NULL,
	[AdjustedEventDate] [date] NOT NULL,
	[CurrentSKU] [varchar](100) NULL,
	[SequenceNumber] [int] NOT NULL,
	[SOB_ID] [int] NOT NULL,
	[MonthSequence] [int] NULL,
	[CurrentContractTerm] [int] NULL,
	[DaysInStubMonth] [int] NULL,
	[StubDays] [int] NULL,
	[StubDailyRate] [decimal](38, 20) NULL,
	[HasInvalidStubData] [bit] NULL,
	[StubDailyListRate] [decimal](38, 20) NULL,
	[StubPeriodMonthlyDiscountedRate] [decimal](38, 20) NULL,
	[DerivedProductID] [int] NULL,
	[DerivedProductName] [varchar](80) NULL,
	[DerivedSalesUnitID] [int] NULL,
	[AdjustedEventYear] [int] NULL,
	[AdjustedEventMonth] [int] NULL,
	[BillingStartDate] [date] NULL,
	[CurrentTermStartDate] [date] NULL,
	[BillingMonth] [char](6) NULL,
	[LineItemEndDate] [date] NULL,
	[AptBundleID] [int] NULL,
	[RenewalDate] [smalldatetime] NULL,
	[TermEndDate] [date] NULL,
	[ContractApprovedDate] [date] NULL,
	[NumberOfUsers] [int] NULL,
	[ContractID] [int] NOT NULL,
	[CoStarBrandID] [tinyint] NULL,
	[BundleID] [int] NULL,
	[ProductCount] [tinyint] NULL,
	[CoStarSubsidiaryID] [tinyint] NOT NULL,
	[SiteLocationID] [int] NOT NULL,
	[MonetaryUnitID] [tinyint] NOT NULL,
	[BillingLocationID] [int] NULL,
	[SiteLocationName] [varchar](50) NULL,
	[LineType] [varchar](15) NULL,
	[NAVDocumentNo] [varchar](20) NULL,
	[NAVLineNo] [int] NULL,
	[NAVQuantity] [int] NULL,
	[NAVUnitPrice] [money] NULL,
	[NAVAmount] [money] NULL,
	[NAVBillingStartDate] [date] NULL,
	[NAVBillingEndDate] [date] NULL,
	[NAVInvoiceDate] [date] NULL,
	[NAVDescription3] [varchar](100) NULL,
	[AEContactID] [int] NULL,
	[LineItemStatusID] [tinyint] NOT NULL,
	[IsCreditCard] [bit] NOT NULL,
	[DiscountedMonthlyPrice] [decimal](38, 20) NOT NULL,
	[ProductMarketTypeID] [tinyint] NULL,
	[MonthsOfFullDiscount] [int] NULL,
	[IsInternContract] [bit] NULL,
	[PropertyID] [int] NULL,
	[HasApartments] [bit] NULL,
	[ProductMarketTypeDesc] [varchar](100) NULL,
	[ListPrice] [decimal](38, 20) NULL,
	[MonthlyPrice] [decimal](38, 20) NULL,
	[QUANTITY_ORDERED] [int] NULL,
	[STUB_AMOUNT] [money] NULL,
	[AdjustedBillingStartDate] [date] NULL,
	[STUB_AMOUNT_LISTPRICE] [money] NULL,
	[EXT_AMOUNT] [money] NULL,
	[EXT_AMOUNT_LISTPRICE] [money] NULL,
	[BillingLocationName] [varchar](150) NULL,
	[CountryCode] [varchar](5) NULL,
	[AEContactName] [varchar](150) NULL,
	[IsMajor] [bit] NULL,
	[UseContractUserLimit] [bit] NULL,
	[CurrentTermMonths] [int] NULL,
	[LocationID] [int] NULL,
	[RevenueRunID] [int] NOT NULL,
	[RevenueItemGroupedID] [int] NOT NULL,
	[LineItemTypeID] [int] NULL,
	[LineItemCreatedDate] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
