USE [RevPro]
GO
/****** Object:  Table [bkp].[SkuBridge]    Script Date: 1/29/2018 3:17:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bkp].[SkuBridge](
	[LineItemID] [int] NULL,
	[SKUID] [int] NULL,
	[AuditDate] [datetime] NULL
) ON [PRIMARY]

GO
