USE [RevPro]
GO
/****** Object:  Table [dbo].[SkuStatus]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SkuStatus](
	[StatusFlg] [char](1) NULL,
	[Description] [varchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
