USE [RevPro]
GO
/****** Object:  Table [dbo].[NewContracts]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewContracts](
	[LineItemID] [int] NULL,
	[ContractID] [int] NULL,
	[BundleID] [int] NULL
) ON [PRIMARY]

GO
