USE [RevPro]
GO
/****** Object:  Table [dbo].[Invoice_Feed_Export]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice_Feed_Export](
	[STAGE_ID] [int] NULL,
	[BATCH_ID] [int] NULL,
	[ARRANGEMENT_ID] [varchar](40) NULL,
	[TRAN_TYPE] [varchar](20) NULL,
	[ITEM_ID] [varchar](100) NULL,
	[ITEM_NUMBER] [varchar](200) NULL,
	[ITEM_DESC] [varchar](240) NULL,
	[PRODUCT_FAMILY] [varchar](200) NULL,
	[PRODUCT_CATEGORY] [varchar](200) NULL,
	[PRODUCT_LINE] [varchar](200) NULL,
	[PRODUCT_CLASS] [varchar](200) NULL,
	[PRICE_LIST_NAME] [varchar](100) NULL,
	[UNIT_LIST_PRICE] [int] NULL,
	[UNIT_SELL_PRICE] [int] NULL,
	[DISCOUNT_AMOUNT] [int] NULL,
	[DISCOUNT_PERCENT] [int] NULL,
	[EXT_SELL_PRICE] [int] NULL,
	[EXT_LIST_PRICE] [int] NULL,
	[ALLOCATABLE_EXT_PRICE] [int] NULL,
	[REC_AMT] [int] NULL,
	[DEF_AMT] [int] NULL,
	[CONTRA_REC_AMT] [int] NULL,
	[COST_AMOUNT] [int] NULL,
	[COST_REC_AMT] [int] NULL,
	[COST_DEF_AMT] [int] NULL,
	[TRANS_CURR_CODE] [varchar](10) NULL,
	[EX_RATE] [int] NULL,
	[BASE_CURR_CODE] [varchar](10) NULL,
	[COST_CURR_CODE] [varchar](10) NULL,
	[COST_EX_RATE] [int] NULL,
	[RCURR_EX_RATE] [int] NULL,
	[ACCOUNTING_PERIOD] [int] NULL,
	[ACCOUNTING_RULE] [int] NULL,
	[RULE_START_DATE] [date] NULL,
	[RULE_END_DATE] [date] NULL,
	[VAR_RULE_ID] [int] NULL,
	[PO_NUM] [varchar](100) NULL,
	[QUOTE_NUM] [varchar](40) NULL,
	[SALES_ORDER] [varchar](30) NULL,
	[SALES_ORDER_LINE] [varchar](50) NULL,
	[SALES_ORDER_ID] [varchar](100) NULL,
	[SALES_ORDER_LINE_ID] [varchar](100) NULL,
	[SHIP_DATE] [date] NULL,
	[SO_BOOK_DATE] [date] NULL,
	[SCHEDULE_SHIP_DATE] [date] NULL,
	[QUANTITY_SHIPPED] [int] NULL,
	[QUANTITY_ORDERED] [int] NULL,
	[SALESREP_NAME] [varchar](100) NULL,
	[SALES_REP_ID] [varchar](240) NULL,
	[ORDER_LINE_TYPE] [varchar](240) NULL,
	[RETURN_FLAG] [varchar](1) NULL,
	[CANCELLED_FLAG] [varchar](1) NULL,
	[ORDER_TYPE] [varchar](50) NULL,
	[SERVICE_REFERENCE_LINE_ID] [int] NULL,
	[INVOICE_NUMBER] [varchar](30) NULL,
	[INVOICE_TYPE] [varchar](240) NULL,
	[INVOICE_LINE] [varchar](50) NULL,
	[INVOICE_ID] [varchar](100) NULL,
	[INVOICE_LINE_ID] [varchar](100) NULL,
	[QUANTITY_INVOICED] [int] NULL,
	[INVOICE_DATE] [date] NULL,
	[ORIG_INV_LINE_ID] [varchar](100) NULL,
	[CUSTOMER_NAME] [varchar](240) NULL,
	[CUSTOMER_ID] [varchar](100) NULL,
	[CUSTOMER_CLASS] [varchar](240) NULL,
	[BILL_TO_ID] [varchar](100) NULL,
	[BILL_TO_CUSTOMER_NAME] [varchar](360) NULL,
	[BILL_TO_COUNTRY] [varchar](60) NULL,
	[SHIP_TO_ID] [varchar](100) NULL,
	[BILL_TO_CUSTOMER_NUMBER] [varchar](20) NULL,
	[SHIP_TO_CUSTOMER_NAME] [varchar](360) NULL,
	[SHIP_TO_CUSTOMER_NUMBER] [varchar](360) NULL,
	[SHIP_TO_COUNTRY] [varchar](60) NULL,
	[ORG_ID] [int] NULL,
	[SEC_ATTR_VALUE] [varchar](200) NULL,
	[FLAG_97_2] [varchar](1) NULL,
	[PCS_FLAG] [varchar](1) NULL,
	[UNDELIVERED_FLAG] [varchar](1) NULL,
	[SOB_ID] [int] NULL,
	[TRANS_DATE] [date] NULL,
	[DEAL_ID] [varchar](40) NULL,
	[BUSINESS_UNIT] [varchar](100) NULL,
	[DUE_DATE] [date] NULL,
	[STANDALONE_FLAG] [varchar](1) NULL,
	[STATED_FLAG] [varchar](1) NULL,
	[ELIGIBLE_FOR_FV] [varchar](1) NULL,
	[LAG_DAYS] [int] NULL,
	[DEFERRED_REVENUE_FLAG] [varchar](1) NULL,
	[NON_CONTINGENT_FLAG] [varchar](1) NULL,
	[UNBILLED_ACCOUNTING_FLAG] [varchar](1) NULL,
	[LT_DEFERRED_ACCOUNT] [varchar](240) NULL,
	[LT_DCOGS_ACCOUNT] [varchar](240) NULL,
	[REV_DIST_ID] [int] NULL,
	[COST_DIST_ID] [int] NULL,
	[CUST_UI_BATCH_ID] [int] NULL,
	[PROCESSED_FLAG] [varchar](1) NULL,
	[ERROR_MESSAGE] [varchar](240) NULL,
	[CREATED_BY] [varchar](200) NULL,
	[CREATION_DATE] [date] NULL,
	[LAST_UPDATE_DATE] [date] NULL,
	[LAST_UPDATED_BY] [varchar](200) NULL,
	[ATTRIBUTE1] [varchar](250) NULL,
	[ATTRIBUTE2] [varchar](250) NULL,
	[ATTRIBUTE3] [varchar](250) NULL,
	[ATTRIBUTE4] [varchar](250) NULL,
	[ATTRIBUTE5] [varchar](250) NULL,
	[ATTRIBUTE6] [varchar](250) NULL,
	[ATTRIBUTE7] [varchar](250) NULL,
	[ATTRIBUTE8] [varchar](250) NULL,
	[ATTRIBUTE9] [varchar](250) NULL,
	[ATTRIBUTE10] [varchar](250) NULL,
	[ATTRIBUTE11] [varchar](250) NULL,
	[ATTRIBUTE12] [varchar](250) NULL,
	[ATTRIBUTE13] [varchar](250) NULL,
	[ATTRIBUTE14] [varchar](250) NULL,
	[ATTRIBUTE15] [varchar](250) NULL,
	[ATTRIBUTE16] [varchar](250) NULL,
	[ATTRIBUTE17] [varchar](250) NULL,
	[ATTRIBUTE18] [varchar](250) NULL,
	[ATTRIBUTE19] [varchar](250) NULL,
	[ATTRIBUTE20] [varchar](250) NULL,
	[ATTRIBUTE21] [varchar](250) NULL,
	[ATTRIBUTE22] [varchar](250) NULL,
	[ATTRIBUTE23] [varchar](250) NULL,
	[ATTRIBUTE24] [varchar](250) NULL,
	[ATTRIBUTE25] [varchar](250) NULL,
	[ATTRIBUTE26] [varchar](250) NULL,
	[ATTRIBUTE27] [varchar](250) NULL,
	[ATTRIBUTE28] [varchar](250) NULL,
	[ATTRIBUTE29] [varchar](250) NULL,
	[ATTRIBUTE30] [varchar](250) NULL,
	[ATTRIBUTE31] [varchar](250) NULL,
	[ATTRIBUTE32] [varchar](250) NULL,
	[ATTRIBUTE33] [varchar](250) NULL,
	[ATTRIBUTE34] [varchar](250) NULL,
	[ATTRIBUTE35] [varchar](250) NULL,
	[ATTRIBUTE36] [varchar](250) NULL,
	[ATTRIBUTE37] [varchar](250) NULL,
	[ATTRIBUTE38] [varchar](250) NULL,
	[ATTRIBUTE39] [varchar](250) NULL,
	[ATTRIBUTE40] [varchar](250) NULL,
	[ATTRIBUTE41] [varchar](250) NULL,
	[ATTRIBUTE42] [varchar](250) NULL,
	[ATTRIBUTE43] [varchar](250) NULL,
	[ATTRIBUTE44] [varchar](250) NULL,
	[ATTRIBUTE45] [varchar](250) NULL,
	[ATTRIBUTE46] [varchar](250) NULL,
	[ATTRIBUTE47] [varchar](250) NULL,
	[ATTRIBUTE48] [varchar](250) NULL,
	[ATTRIBUTE49] [varchar](250) NULL,
	[ATTRIBUTE50] [varchar](250) NULL,
	[ATTRIBUTE51] [varchar](250) NULL,
	[ATTRIBUTE52] [varchar](250) NULL,
	[ATTRIBUTE53] [varchar](250) NULL,
	[ATTRIBUTE54] [varchar](250) NULL,
	[ATTRIBUTE55] [varchar](250) NULL,
	[ATTRIBUTE56] [varchar](250) NULL,
	[ATTRIBUTE57] [varchar](250) NULL,
	[ATTRIBUTE58] [varchar](250) NULL,
	[ATTRIBUTE59] [varchar](250) NULL,
	[ATTRIBUTE60] [varchar](250) NULL,
	[DATE1] [date] NULL,
	[DATE2] [date] NULL,
	[DATE3] [date] NULL,
	[DATE4] [date] NULL,
	[DATE5] [date] NULL,
	[NUMBER1] [int] NULL,
	[NUMBER2] [int] NULL,
	[NUMBER3] [int] NULL,
	[NUMBER4] [int] NULL,
	[NUMBER5] [int] NULL,
	[NUMBER6] [int] NULL,
	[NUMBER7] [int] NULL,
	[NUMBER8] [int] NULL,
	[NUMBER9] [int] NULL,
	[NUMBER10] [int] NULL,
	[NUMBER11] [int] NULL,
	[NUMBER12] [int] NULL,
	[NUMBER13] [int] NULL,
	[NUMBER14] [int] NULL,
	[NUMBER15] [int] NULL,
	[REV_ACCTG_SEG1] [varchar](240) NULL,
	[REV_ACCTG_SEG2] [varchar](240) NULL,
	[REV_ACCTG_SEG3] [varchar](240) NULL,
	[REV_ACCTG_SEG4] [varchar](240) NULL,
	[REV_ACCTG_SEG5] [varchar](240) NULL,
	[REV_ACCTG_SEG6] [varchar](240) NULL,
	[REV_ACCTG_SEG7] [varchar](240) NULL,
	[REV_ACCTG_SEG8] [varchar](240) NULL,
	[REV_ACCTG_SEG9] [varchar](240) NULL,
	[REV_ACCTG_SEG10] [varchar](240) NULL,
	[DEF_ACCTG_SEG1] [varchar](240) NULL,
	[DEF_ACCTG_SEG2] [varchar](240) NULL,
	[DEF_ACCTG_SEG3] [varchar](240) NULL,
	[DEF_ACCTG_SEG4] [varchar](240) NULL,
	[DEF_ACCTG_SEG5] [varchar](240) NULL,
	[DEF_ACCTG_SEG6] [varchar](240) NULL,
	[DEF_ACCTG_SEG7] [varchar](240) NULL,
	[DEF_ACCTG_SEG8] [varchar](240) NULL,
	[DEF_ACCTG_SEG9] [varchar](240) NULL,
	[DEF_ACCTG_SEG10] [varchar](240) NULL,
	[COGS_R_SEG1] [varchar](240) NULL,
	[COGS_R_SEG2] [varchar](240) NULL,
	[COGS_R_SEG3] [varchar](240) NULL,
	[COGS_R_SEG4] [varchar](240) NULL,
	[COGS_R_SEG5] [varchar](240) NULL,
	[COGS_R_SEG6] [varchar](240) NULL,
	[COGS_R_SEG7] [varchar](240) NULL,
	[COGS_R_SEG8] [varchar](240) NULL,
	[COGS_R_SEG9] [varchar](240) NULL,
	[COGS_R_SEG10] [varchar](240) NULL,
	[COGS_D_SEG1] [varchar](240) NULL,
	[COGS_D_SEG2] [varchar](240) NULL,
	[COGS_D_SEG3] [varchar](240) NULL,
	[COGS_D_SEG4] [varchar](240) NULL,
	[COGS_D_SEG5] [varchar](240) NULL,
	[COGS_D_SEG6] [varchar](240) NULL,
	[COGS_D_SEG7] [varchar](240) NULL,
	[COGS_D_SEG8] [varchar](240) NULL,
	[COGS_D_SEG9] [varchar](240) NULL,
	[COGS_D_SEG10] [varchar](240) NULL,
	[ELIGIBLE_FOR_CV] [varchar](1) NULL,
	[BILLED_REC_AMT] [int] NULL,
	[BILLED_DEF_AMT] [int] NULL,
	[COST_BILLED_DEF_AMT] [int] NULL,
	[COST_BILLED_REC_AMT] [int] NULL,
	[QUANTITY_CANCELED] [int] NULL,
	[NET_EXT_SELL_PRICE] [int] NULL,
	[DISC_ADJ_FLAG] [varchar](1) NULL,
	[BOOK_ID] [int] NULL,
	[BNDL_CONFIG_ID] [int] NULL,
	[CT_DATE] [date] NULL,
	[CT_LINE_ID] [int] NULL,
	[CT_LINE_NUM] [int] NULL,
	[CT_NUM] [varchar](20) NULL,
	[CURR] [int] NULL,
	[F_CUR] [int] NULL,
	[F_EX_RATE] [int] NULL,
	[G_EX_RATE] [int] NULL,
	[COST_F_EX_RATE] [int] NULL,
	[COST_G_EX_RATE] [int] NULL,
	[COST_TYPE_ID] [int] NULL,
	[ORIG_SO_INV_LINE_ID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
