USE [RevPro]
GO
/****** Object:  Table [dbo].[Fixed_Contracts1]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fixed_Contracts1](
	[ContractID] [int] NULL
) ON [PRIMARY]

GO
