USE [RevPro]
GO
/****** Object:  Table [dbo].[Fixed_Contracts2]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fixed_Contracts2](
	[ContractID] [int] NOT NULL,
	[LineItemID] [int] NOT NULL,
	[SKUID] [int] NOT NULL
) ON [PRIMARY]

GO
