USE [RevPro]
GO
/****** Object:  Table [dbo].[FistContractBatch]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FistContractBatch](
	[ContractID] [int] NOT NULL
) ON [PRIMARY]

GO
