USE [RevPro]
GO
/****** Object:  Table [dbo].[temp_rpro_trans_pre_stg_Invoice_Feed]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_rpro_trans_pre_stg_Invoice_Feed](
	[SiteLocationID] [int] NULL,
	[ContractID] [int] NULL,
	[LineItemID] [int] NULL,
	[DerivedSalesUnitID] [int] NULL,
	[CreatedDate] [date] NULL,
	[ProductID] [int] NULL,
	[ProdoctDesc] [nvarchar](53) NULL,
	[CLIENT_ID] [varchar](4) NULL,
	[DEAL_ID] [nvarchar](56) NULL,
	[CARVE_IN_DEF_REVENUE_SEG1] [varchar](4) NULL,
	[CARVE_IN_DEF_REVENUE_SEG2] [varchar](3) NULL,
	[CARVE_IN_DEF_REVENUE_SEG3] [varchar](3) NULL,
	[CARVE_IN_DEF_REVENUE_SEG4] [varchar](1) NULL,
	[UNBILLED_AR_SEG1] [varchar](4) NULL,
	[UNBILLED_AR_SEG2] [varchar](3) NULL,
	[UNBILLED_AR_SEG3] [varchar](3) NULL,
	[UNBILLED_AR_SEG4] [varchar](1) NULL,
	[CARVE_IN_REVENUE_SEG1] [varchar](1) NULL,
	[CARVE_IN_REVENUE_SEG2] [varchar](3) NULL,
	[CARVE_IN_REVENUE_SEG3] [varchar](3) NULL,
	[CARVE_IN_REVENUE_SEG4] [varchar](1) NULL,
	[CARVE_OUT_REVENUE_SEG1] [varchar](1) NULL,
	[CARVE_OUT_REVENUE_SEG2] [varchar](3) NULL,
	[CARVE_OUT_REVENUE_SEG3] [varchar](3) NULL,
	[CARVE_OUT_REVENUE_SEG4] [varchar](1) NULL,
	[ATTRIBUTE24] [varchar](1) NULL,
	[ATTRIBUTE25] [varchar](3) NULL,
	[ATTRIBUTE26] [varchar](3) NULL,
	[ATTRIBUTE27] [varchar](1) NULL,
	[BASE_CURR_CODE] [varchar](3) NULL,
	[BILL_TO_COUNTRY] [varchar](3) NULL,
	[BILL_TO_CUSTOMER_NAME] [varchar](50) NULL,
	[BILL_TO_CUSTOMER_NUMBER] [int] NULL,
	[BUSINESS_UNIT] [varchar](10) NULL,
	[CUSTOMER_ID] [int] NULL,
	[CUSTOMER_NAME] [varchar](50) NULL,
	[DEF_ACCTG_SEG1] [varchar](4) NULL,
	[DEF_ACCTG_SEG2] [varchar](3) NULL,
	[DEF_ACCTG_SEG3] [varchar](3) NULL,
	[DEF_ACCTG_SEG4] [varchar](1) NULL,
	[DEFERRED_REVENUE_FLAG] [varchar](1) NULL,
	[DISCOUNT_AMOUNT] [varchar](1) NULL,
	[DISCOUNT_PERCENT] [varchar](1) NULL,
	[ELIGIBLE_FOR_CV] [varchar](1) NULL,
	[ELIGIBLE_FOR_FV] [varchar](1) NULL,
	[EX_RATE] [int] NULL,
	[EXT_LIST_PRICE] [varchar](2) NULL,
	[EXT_SELL_PRICE] [varchar](2) NULL,
	[FLAG_97_2] [varchar](1) NULL,
	[INVOICE_DATE] [varchar](1) NULL,
	[INVOICE_ID] [varchar](1) NULL,
	[INVOICE_LINE] [varchar](1) NULL,
	[INVOICE_LINE_ID] [varchar](1) NULL,
	[INVOICE_NUMBER] [varchar](1) NULL,
	[INVOICE_TYPE] [varchar](1) NULL,
	[ITEM_DESC] [nvarchar](53) NULL,
	[ITEM_ID] [nvarchar](20) NULL,
	[ITEM_NUMBER] [varchar](1) NULL,
	[LT_DEFERRED_ACCOUNT] [varchar](4) NULL,
	[NON_CONTINGENT_FLAG] [varchar](1) NULL,
	[ORDER_LINE_TYPE] [varchar](1) NULL,
	[ORDER_TYPE] [varchar](1) NULL,
	[ORG_ID] [tinyint] NULL,
	[ORIG_INV_LINE_ID] [varchar](1) NULL,
	[PCS_FLAG] [varchar](1) NULL,
	[PO_NUM] [varchar](1) NULL,
	[PRODUCT_CATEGORY] [int] NULL,
	[PRODUCT_CLASS] [int] NULL,
	[PRODUCT_FAMILY] [nvarchar](53) NULL,
	[PRODUCT_LINE] [nvarchar](53) NULL,
	[QUANTITY_INVOICED] [varchar](1) NULL,
	[QUANTITY_ORDERED] [varchar](1) NULL,
	[QUANTITY_SHIPPED] [varchar](1) NULL,
	[QUOTE_NUM] [varchar](1) NULL,
	[RCURR_EX_RATE] [int] NULL,
	[RETURN_FLAG] [varchar](1) NULL,
	[REV_ACCTG_SEG1] [varchar](1) NULL,
	[REV_ACCTG_SEG2] [varchar](3) NULL,
	[REV_ACCTG_SEG3] [varchar](3) NULL,
	[REV_ACCTG_SEG4] [varchar](1) NULL,
	[RULE_END_DATE] [date] NULL,
	[RULE_START_DATE] [datetime] NULL,
	[SALES_ORDER] [int] NULL,
	[SALES_ORDER_ID] [int] NULL,
	[SALES_ORDER_LINE] [numeric](38, 20) NULL,
	[SALES_ORDER_LINE_ID] [varchar](1) NULL,
	[SALES_REP_ID] [int] NULL,
	[SALESREP_NAME] [varchar](42) NULL,
	[SCHEDULE_SHIP_DATE] [varchar](1) NULL,
	[SEC_ATTR_VALUE] [varchar](3) NULL,
	[SHIP_DATE] [varchar](1) NULL,
	[SO_BOOK_DATE] [date] NULL,
	[SOB_ID] [varchar](1) NULL,
	[STANDALONE_FLAG] [varchar](1) NULL,
	[STATED_FLAG] [varchar](1) NULL,
	[TRAN_TYPE] [varchar](3) NULL,
	[TRANS_CURR_CODE] [varchar](3) NULL,
	[TRANS_DATE] [date] NULL,
	[UNBILLED_ACCOUNTING_FLAG] [varchar](1) NULL,
	[UNDELIVERED_FLAG] [varchar](1) NULL,
	[UNIT_LIST_PRICE] [numeric](38, 20) NULL,
	[UNIT_SELL_PRICE] [numeric](38, 20) NULL,
	[FV_YEAR] [varchar](4) NULL,
	[STUB_AMOUNT] [varchar](1) NULL,
	[CONVERSION_DATA] [varchar](10) NULL,
	[CANCELLED_FLAG] [varchar](1) NULL,
	[CARVE_IN_DEF_REVENUE_SEG5] [varchar](1) NULL,
	[UNBILLED_AR_SEG5] [varchar](1) NULL,
	[CARVE_IN_REVENUE_SEG5] [varchar](1) NULL,
	[CARVE_OUT_REVENUE_SEG5] [varchar](1) NULL,
	[DEF_ACCTG_SEG5] [varchar](1) NULL,
	[REV_ACCTG_SEG5] [varchar](1) NULL,
	[LT_DEFERRED_ACCOUNT_SEG5] [varchar](1) NULL,
	[ATTRIBUTE28] [varchar](1) NULL,
	[NUMBER5] [varchar](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
