USE [RevPro]
GO
/****** Object:  Table [opt].[vwSalesOrder]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [opt].[vwSalesOrder](
	[CLIENT_ID] [varchar](4) NOT NULL,
	[DEAL_ID] [varchar](100) NULL,
	[CARVE_IN_DEF_REVENUE_SEG1] [varchar](4) NULL,
	[CARVE_IN_DEF_REVENUE_SEG2] [varchar](4) NULL,
	[CARVE_IN_DEF_REVENUE_SEG3] [varchar](10) NULL,
	[CARVE_IN_DEF_REVENUE_SEG4] [varchar](10) NULL,
	[UNBILLED_AR_SEG1] [varchar](4) NULL,
	[UNBILLED_AR_SEG2] [varchar](4) NULL,
	[UNBILLED_AR_SEG3] [varchar](4) NULL,
	[UNBILLED_AR_SEG4] [varchar](10) NULL,
	[CARVE_IN_REVENUE_SEG1] [varchar](4) NULL,
	[CARVE_IN_REVENUE_SEG2] [varchar](20) NULL,
	[CARVE_IN_REVENUE_SEG3] [varchar](3) NULL,
	[CARVE_IN_REVENUE_SEG4] [varchar](10) NULL,
	[CARVE_OUT_REVENUE_SEG1] [varchar](4) NULL,
	[CARVE_OUT_REVENUE_SEG2] [varchar](20) NULL,
	[CARVE_OUT_REVENUE_SEG3] [varchar](10) NULL,
	[CARVE_OUT_REVENUE_SEG4] [varchar](10) NULL,
	[ATTRIBUTE24] [varchar](10) NULL,
	[ATTRIBUTE25] [varchar](20) NULL,
	[ATTRIBUTE26] [varchar](10) NULL,
	[ATTRIBUTE27] [varchar](10) NULL,
	[BASE_CURR_CODE] [char](3) NULL,
	[BILL_TO_COUNTRY] [varchar](5) NULL,
	[BILL_TO_CUSTOMER_NAME] [varchar](150) NULL,
	[BILL_TO_CUSTOMER_NUMBER] [int] NULL,
	[BUSINESS_UNIT] [varchar](20) NULL,
	[CUSTOMER_ID] [int] NULL,
	[CUSTOMER_NAME] [varchar](150) NULL,
	[DEF_ACCTG_SEG1] [varchar](20) NULL,
	[DEF_ACCTG_SEG2] [varchar](20) NULL,
	[DEF_ACCTG_SEG3] [varchar](20) NULL,
	[DEF_ACCTG_SEG4] [varchar](10) NULL,
	[DEFERRED_REVENUE_FLAG] [varchar](2) NULL,
	[DISCOUNT_AMOUNT] [decimal](15, 2) NULL,
	[DISCOUNT_PERCENT] [decimal](15, 2) NULL,
	[ELIGIBLE_FOR_CV] [varchar](4) NULL,
	[ELIGIBLE_FOR_FV] [varchar](4) NULL,
	[EX_RATE] [numeric](18, 0) NULL,
	[EXT_LIST_PRICE] [decimal](15, 2) NULL,
	[EXT_SELL_PRICE] [decimal](15, 2) NULL,
	[FLAG_97_2] [varchar](1) NULL,
	[INVOICE_DATE] [varchar](1) NOT NULL,
	[INVOICE_ID] [varchar](20) NULL,
	[INVOICE_LINE] [varchar](28) NULL,
	[INVOICE_LINE_ID] [varchar](1) NOT NULL,
	[INVOICE_NUMBER] [varchar](20) NULL,
	[INVOICE_TYPE] [varchar](15) NULL,
	[ITEM_DESC] [varchar](70) NULL,
	[ITEM_ID] [varchar](100) NULL,
	[ITEM_NUMBER] [varchar](70) NULL,
	[LT_DEFERRED_ACCOUNT] [varchar](4) NULL,
	[NON_CONTINGENT_FLAG] [varchar](1) NULL,
	[ORDER_LINE_TYPE] [varchar](15) NULL,
	[ORDER_TYPE] [varchar](15) NULL,
	[ORG_ID] [int] NULL,
	[ORIG_INV_LINE_ID] [varchar](30) NULL,
	[PCS_FLAG] [varchar](1) NULL,
	[PO_NUM] [varchar](1) NULL,
	[PRODUCT_CATEGORY] [int] NULL,
	[PRODUCT_CLASS] [varchar](80) NULL,
	[PRODUCT_FAMILY] [varchar](80) NULL,
	[PRODUCT_LINE] [varchar](80) NULL,
	[QUANTITY_INVOICED] [varchar](1) NOT NULL,
	[QUANTITY_ORDERED] [int] NULL,
	[QUANTITY_SHIPPED] [int] NULL,
	[QUOTE_NUM] [varchar](1) NULL,
	[RCURR_EX_RATE] [decimal](15, 1) NULL,
	[RETURN_FLAG] [varchar](1) NULL,
	[REV_ACCTG_SEG1] [varchar](20) NULL,
	[REV_ACCTG_SEG2] [varchar](20) NULL,
	[REV_ACCTG_SEG3] [varchar](20) NULL,
	[REV_ACCTG_SEG4] [varchar](10) NULL,
	[RULE_END_DATE] [varchar](8000) NULL,
	[RULE_START_DATE] [varchar](8000) NULL,
	[SALES_ORDER] [int] NULL,
	[SALES_ORDER_ID] [varchar](100) NULL,
	[SALES_ORDER_LINE] [int] NULL,
	[SALES_ORDER_LINE_ID] [varchar](100) NULL,
	[SALES_REP_ID] [int] NULL,
	[SALESREP_NAME] [varchar](100) NULL,
	[SCHEDULE_SHIP_DATE] [varchar](8000) NULL,
	[SEC_ATTR_VALUE] [varchar](15) NULL,
	[SHIP_DATE] [varchar](8000) NULL,
	[SO_BOOK_DATE] [varchar](8000) NULL,
	[SOB_ID] [int] NULL,
	[STANDALONE_FLAG] [varchar](1) NULL,
	[STATED_FLAG] [varchar](1) NULL,
	[TRAN_TYPE] [varchar](20) NULL,
	[TRANS_CURR_CODE] [char](3) NULL,
	[TRANS_DATE] [varchar](8000) NULL,
	[UNBILLED_ACCOUNTING_FLAG] [varchar](1) NULL,
	[UNDELIVERED_FLAG] [varchar](4) NULL,
	[UNIT_LIST_PRICE] [decimal](15, 2) NULL,
	[UNIT_SELL_PRICE] [decimal](15, 2) NULL,
	[FV_YEAR] [int] NULL,
	[STUB_AMOUNT] [varchar](15) NOT NULL,
	[CONVERSION_DATA] [char](10) NOT NULL,
	[CANCELLED_FLAG] [varchar](1) NOT NULL,
	[CARVE_IN_DEF_REVENUE_SEG5] [varchar](4) NOT NULL,
	[UNBILLED_AR_SEG5] [varchar](4) NOT NULL,
	[CARVE_IN__REVENUE_SEG5] [varchar](4) NOT NULL,
	[CARVE_OUT_REVENUE_SEG5] [varchar](4) NOT NULL,
	[DEF_ACCTG_SEG5] [varchar](4) NOT NULL,
	[REV_ACCTG_SEG5] [varchar](4) NOT NULL,
	[LT_DEFERRED_ACCOUNT_SEG5] [varchar](4) NOT NULL,
	[ATTRIBUTE28] [varchar](1) NOT NULL,
	[NUMBER5] [varchar](1) NOT NULL,
	[AdjustedEventYear] [int] NULL,
	[AdjustedEventMonth] [int] NULL,
	[RevenueRunID] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
