USE [RevPro]
GO
/****** Object:  Table [rev].[SkuBridge]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rev].[SkuBridge](
	[LineItemID] [int] NULL,
	[SKUID] [int] NULL
) ON [PRIMARY]

GO
