USE [RevPro]
GO
/****** Object:  Table [stg].[vwInvoiceRevenueItemRaw]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[vwInvoiceRevenueItemRaw](
	[MEA] [varchar](100) NULL,
	[RevenueItemType] [varchar](15) NOT NULL,
	[LineItemID] [int] NOT NULL,
	[AdjustedEventDate] [date] NOT NULL,
	[CurrentSKU] [varchar](100) NULL,
	[SequenceNumber] [int] NOT NULL,
	[ActionType] [varchar](100) NULL,
	[SOB_ID] [int] NULL,
	[MonthSequence] [int] NULL,
	[CurrentContractTerm] [int] NULL,
	[DaysInStubMonth] [int] NULL,
	[StubDays] [int] NULL,
	[StubDailyRate] [decimal](38, 20) NULL,
	[HasInvalidStubData] [bit] NULL,
	[StubDailyListRate] [decimal](38, 20) NULL,
	[StubPeriodMonthlyDiscountedRate] [decimal](38, 20) NULL,
	[MEAFirstPricingDetailID] [int] NULL,
	[MEAFirstPricingDetailDiscountedMonthlyPrice] [decimal](38, 20) NULL,
	[EventDate] [date] NOT NULL,
	[RevenueEventType] [varchar](20) NULL,
	[ProductID] [int] NOT NULL,
	[DerivedProductID] [int] NULL,
	[DerivedProductName] [varchar](80) NULL,
	[DerivedSalesUnitID] [int] NULL,
	[AdjustedEventYear] [int] NULL,
	[AdjustedEventMonth] [int] NULL,
	[MEAFirstInvoiceDetailID] [int] NULL,
	[MEAInvoiceFirstDateOfPeriod] [datetime] NULL,
	[MEAInvoiceBillingStartDate] [datetime] NULL,
	[MEAInvoiceBillingStartDateDay] [int] NULL,
	[MEAInvoiceBillingFirstPeriodGross] [decimal](38, 20) NULL,
	[MEAInvoiceBillingFirstPeriodDiscounted] [decimal](38, 20) NULL,
	[MEAInvoiceBillingFirstPeriodStubAmount] [decimal](38, 20) NULL,
	[LineItemTypeID] [int] NOT NULL,
	[BillingStartDate] [date] NULL,
	[CurrentTermStartDate] [date] NULL,
	[BillingMonth] [char](6) NULL,
	[LineItemEndDate] [date] NULL,
	[AptBundleID] [int] NULL,
	[RenewalDate] [smalldatetime] NULL,
	[OldRenewalDate] [smalldatetime] NULL,
	[TermEndDate] [date] NULL,
	[ContractApprovedDate] [date] NULL,
	[ProductName] [varchar](80) NULL,
	[NumberOfUsers] [int] NULL,
	[ContractID] [int] NOT NULL,
	[SalesUnitID] [int] NULL,
	[SalesUnitDesc] [varchar](100) NULL,
	[CoStarBrandID] [tinyint] NULL,
	[BundleID] [int] NULL,
	[ProductCount] [tinyint] NULL,
	[CoStarSubsidiaryID] [tinyint] NOT NULL,
	[SiteLocationID] [int] NOT NULL,
	[MonetaryUnitID] [tinyint] NOT NULL,
	[BillingLocationID] [int] NULL,
	[SiteLocationName] [varchar](50) NULL,
	[LineType] [varchar](15) NULL,
	[NAVDocumentNo] [varchar](20) NULL,
	[NAVLineNo] [int] NULL,
	[NAVQuantity] [int] NULL,
	[NAVUnitPrice] [money] NULL,
	[NAVAmount] [money] NULL,
	[NAVBillingStartDate] [date] NULL,
	[NAVBillingEndDate] [date] NULL,
	[NAVInvoiceDate] [date] NULL,
	[CRMInvoiceDate] [date] NULL,
	[NAVDescription3] [varchar](100) NULL,
	[CRMInvoiceDetailID] [int] NULL,
	[IsMappedToNAV] [bit] NULL,
	[AEContactID] [int] NULL,
	[LineItemStatusID] [tinyint] NOT NULL,
	[IsCreditCard] [bit] NOT NULL,
	[DiscountedMonthlyPrice] [decimal](38, 20) NOT NULL,
	[PriorDiscountedMonthlyPrice] [decimal](38, 20) NOT NULL,
	[DiscountedMonthlyPriceDifference] [decimal](38, 20) NOT NULL,
	[EventSource] [varchar](20) NULL,
	[CanBePriced] [bit] NULL,
	[PricingType] [varchar](100) NULL,
	[ProductMarketTypeID] [tinyint] NULL,
	[CheckOutOk] [int] NULL,
	[MonthsOfFullDiscount] [int] NULL,
	[IsInternContract] [bit] NULL,
	[PropertyID] [int] NULL,
	[ProductMarketTypeDesc] [varchar](100) NULL,
	[MarketCount] [int] NULL,
	[LineitemCreadedDate] [date] NULL,
	[PreviousSKU] [varchar](100) NULL,
	[StateCD] [varchar](5) NULL,
	[PipelineID] [int] NULL,
	[LineItemPricingDetailTypeID] [tinyint] NULL,
	[LineItemPricingDetailSubTypeID] [tinyint] NULL,
	[ListPrice] [decimal](38, 20) NULL,
	[MonthlyPrice] [decimal](38, 20) NULL,
	[SalesUnits] [int] NULL,
	[QUANTITY_ORDERED] [int] NULL,
	[STUB_AMOUNT] [money] NULL,
	[AdjustedBillingStartDate] [date] NULL,
	[STUB_AMOUNT_LISTPRICE] [money] NULL,
	[EXT_AMOUNT] [money] NULL,
	[EXT_AMOUNT_LISTPRICE] [money] NULL,
	[BillingLocationName] [varchar](150) NULL,
	[CountryCode] [varchar](5) NULL,
	[AEContactName] [varchar](150) NULL,
	[ProductMarketTypeCounts] [int] NULL,
	[IsMajor] [bit] NULL,
	[UseContractUserLimit] [bit] NULL,
	[CurrentTermMonths] [int] NULL,
	[CurrentTermID] [int] NULL,
	[LocationID] [int] NULL,
	[LineItemCreatedDate] [date] NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
	[UpdatedDate] [smalldatetime] NOT NULL,
	[RevenueRunID] [int] NOT NULL,
	[RevenueItemRawID] [int] NOT NULL,
	[IgnoreFlag] [bit] NOT NULL,
	[IsContractCreatedThisMonth] [bit] NULL,
	[IsLineItemCreatedThisMonth] [bit] NULL,
	[IsContractInactiveAtEndOfMonth] [bit] NULL,
	[IsLineItemInactiveAtEndOfMonth] [bit] NULL,
	[IsRenewal] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
