USE [RevPro]
GO
/****** Object:  Table [stg].[RevenueItemRawInTime]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[RevenueItemRawInTime](
	[MEA] [varchar](100) NOT NULL,
	[RevenueItemType] [varchar](15) NULL,
	[LineItemID] [int] NOT NULL,
	[AdjustedEventDate] [date] NULL,
	[CurrentSKU] [varchar](100) NULL,
	[SequenceNumber] [int] NOT NULL,
	[ProductID] [int] NULL,
	[AdjustedEventYear] [int] NULL,
	[AdjustedEventMonth] [int] NULL,
	[BillingStartDate] [date] NULL,
	[BillingMonth] [char](6) NULL,
	[LineItemEndDate] [date] NULL,
	[RenewalDate] [smalldatetime] NULL,
	[TermEndDate] [date] NULL,
	[ProductName] [varchar](80) NULL,
	[NumberOfUsers] [int] NULL,
	[ContractID] [int] NOT NULL,
	[SalesUnitID] [int] NULL,
	[SalesUnitDesc] [varchar](100) NULL,
	[CoStarBrandID] [tinyint] NULL,
	[BundleID] [int] NULL,
	[CoStarSubsidiaryID] [tinyint] NULL,
	[SiteLocationID] [int] NOT NULL,
	[MonetaryUnitID] [tinyint] NULL,
	[IsNetwork] [bit] NULL,
	[BillingLocationID] [int] NULL,
	[SiteLocationName] [varchar](50) NULL,
	[LineType] [varchar](15) NOT NULL,
	[NAVDocumentNo] [varchar](20) NULL,
	[NAVLineNo] [int] NULL,
	[NAVQuantity] [int] NULL,
	[NAVUnitPrice] [money] NULL,
	[NAVAmount] [money] NULL,
	[LineItemTypeID] [tinyint] NULL,
	[NAVBillingStartDate] [date] NULL,
	[NAVBillingEndDate] [date] NULL,
	[AEContactID] [int] NULL,
	[LineItemStatusID] [tinyint] NULL,
	[EventSource] [varchar](20) NULL,
	[CanBePriced] [bit] NULL,
	[AdjustedBillingStartDate] [date] NULL,
	[AdjustedBillMonth] [char](6) NOT NULL,
	[AdjustedEventMonthStartDate] [date] NULL,
	[AdjustedEventMonthEndDate] [date] NULL,
	[ProductMarketTypeID] [tinyint] NULL,
	[PropertyID] [int] NULL,
	[UserCount] [int] NULL,
	[MarketCount] [int] NULL,
	[PreviousSKU] [varchar](100) NULL,
	[StateCD] [varchar](5) NULL,
	[PipelineID] [int] NULL,
	[MonthlyPrice] [money] NULL,
	[LineItemPricingDetailTypeID] [tinyint] NULL,
	[LineItemPricingDetailSubTypeID] [tinyint] NULL,
	[ListPrice] [decimal](38, 20) NULL,
	[DiscountedMonthlyPrice] [decimal](38, 20) NULL,
	[STUB_AMOUNT] [money] NULL,
	[STUB_AMOUNT_LISTPRICE] [money] NULL,
	[BillingLocationName] [varchar](150) NULL,
	[CountryCode] [varchar](5) NULL,
	[AEContactName] [varchar](150) NULL,
	[DerivedProductID] [int] NULL,
	[DerivedProductName] [varchar](50) NULL,
	[Bundles] [bit] NULL,
	[IsMajor] [bit] NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
	[UpdatedDate] [smalldatetime] NOT NULL,
	[ProductCount] [tinyint] NULL,
	[NAVInvoiceDate] [date] NULL,
	[CurrentTermStartDate] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
