USE [RevPro]
GO
/****** Object:  UserDefinedTableType [stg].[LocationList]    Script Date: 1/29/2018 3:17:38 PM ******/
CREATE TYPE [stg].[LocationList] AS TABLE(
	[LocationID] [int] NULL
)
GO
