USE [RevPro]
GO
/****** Object:  UserDefinedTableType [stg].[SalesUnitType]    Script Date: 1/29/2018 3:17:38 PM ******/
CREATE TYPE [stg].[SalesUnitType] AS TABLE(
	[SalesUnitID] [int] NULL
)
GO
