USE [RevPro]
GO
/****** Object:  Table [tst].[HighValueSkus]    Script Date: 1/29/2018 3:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tst].[HighValueSkus](
	[SKUID] [int] NULL
) ON [PRIMARY]

GO
